.title {
    text-align: center;
    font-weight: bold;
    font-size: 1.375rem;
    margin-top: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.content span {
    text-align: center;
    margin: 1.5rem 4rem;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    gap: 5px;
}

.checkbox label {
    font-weight: bold;
    font-size: 16px;
    user-select: none;
}

.continue-button {
    width: 50%;
    margin: 0 auto 10px;
}

.step {
    animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        text-align: left;
    }

    .content {
        font-size: 0.75rem;
        line-height: 1.3rem;
    }

    .content span {
        text-align: left;
        margin: 1rem 0 1.5rem 0;
    }

    .continue-button {
        width: 100%;
        margin: 0 0 10px;
    }

    .checkbox {
        font-size: 0.75rem;
        justify-content: start;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .title {
        text-align: left;
    }

    .content {
        font-size: 0.75rem;
        line-height: 1.3rem;
    }

    .content span {
        text-align: left;
        margin: 1rem 0 1.5rem 0;
    }

    .continue-button {
        width: 100%;
        margin: 0 0 10px;
    }

    .checkbox {
        font-size: 0.75rem;
        justify-content: start;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .title {
        text-align: center;
    }

    .content {
        font-size: unset;
        line-height: unset;
    }

    .content span {
        text-align: center;
        margin: 1.5rem 4rem;
    }

    .continue-button {
        width: 50%;
        margin: 0 auto 10px;
    }

    .checkbox {
        font-size: unset;
        justify-content: center;
    }
}