.selected {
    border: 2px solid black;
}

.clickable-continue{
    width: 19.5rem;
    height: 3rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.continue-text{
    color: white;
}

.clickable {
    cursor: pointer;
    width: 19.5rem;
    height: 8.5rem;
    background-color: #F6F7F8;
}

.clickable:focus {
    border: 2px solid black;
}

.complemantary-text-size{
    font-size: 0.75rem;
    line-height: 24px;
    padding: 0 16px 0 16px;

}

/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
    /* Coloque aqui os estilos para dispositivos móveis */
    .login-text-size{
        font-size: 1.25rem;
        line-height: 32.5px;
        padding: 7px 0 0 16px;
    }
}

/* Estilos para desktops */
@media (min-width: 768px) {
    /* Coloque aqui os estilos para desktops */
    .login-text-size{
        font-size: 1.25rem;
        line-height: 32.5px;
        padding: 16px 0 0 16px;
    }
}