.main-container {
    display: flex;
    justify-content: center;
}

.title-container,
.card-container {
    max-width: 390px;
} 

.card-container {
    margin: 20px 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
    margin: 20px 0;
}

.subtitle {
    font-size: 15px;
    color: #000000;
    margin: 20px 0;
}

.spinner-container {
    min-height: 50vh;
}

.info-modal:focus-visible {
    outline: none !important;
}

@media only screen and (max-width: 600px) {
    .info-modal {
        max-width: 75vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .info-modal {
        max-width: 75vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .info-modal {
        max-width: 50vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .info-modal {
        max-width: 25vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}